<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="userlist"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button [routerLink]="['/userlist']">Characters</ion-button>
    <br>
    <strong>App by Bernardo Mejía</strong>
    <p>
      My projects
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/Bernardo-Mejia"
        >My GitHub</a
      >
    </p>
  </div>
</ion-content>
